.container {
  margin: 8px 0;
}

.Int-heading {
  font-size: 1.6rem;
  background-color: #00a8e8;
  width: 24rem;
  padding: 10px 15px;
  border-radius: 16px;
  border: solid black 3px;
  margin-bottom: 20px;
}

.booking-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.calendar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #fece30;
  border-radius: 8px;
  border: solid black 4px;
}

.slots-section {
  width: 400px;
  height: 306px;
  border-radius: 8px;
  padding: 20px;
  background-color: #fece30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid black 4px;
}

.slots-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  width: 100%;
}

.slots-container,
.slots-section > p {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.slot-button {
  background-color: #fceee3;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.slot-button:hover {
  background-color: black;
  color: white;
}

.slot-button.selected {
  background-color: #24b577;
  color: white;
}

.calendar-section .react-calendar {
  background: #fece30;
  border: none;
  padding: 10px;
  font-family: "Cooper Hewitt", sans-serif;
}

.calendar-section .react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.react-calendar_navigationlabel_labelText,
.submit-button {
  font-family: "Cooper Hewitt", sans-serif;
}

.calendar-section .react-calendar__navigation button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.calendar-section .react-calendar_month-view_weekdays {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.calendar-section .react-calendar_month-viewweekdays_weekday {
  padding: 5px;
  color: black;
}

.calendar-section .react-calendar__tile {
  text-align: center;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fece30;
}

.calendar-section .react-calendar__tile--disabled {
  color: #d1d1d1;
}

.calendar-section .react-calendar__tile--active {
  background: #2ac080;
  color: white;
  font-weight: bold;
}

.calendar-section .react-calendar__tile:hover {
  background: #00a8e8;
}

.submit-button {
  margin-top: 20px;
  width: 8rem;
  padding: 6px 8px;
  font-size: 1.2rem;
  font-weight: 100;
  border-radius: 4px;
  background-color: #2ac080;
}

@media (max-width: 1080px) {
  .Int-heading {
    font-size: 1rem;
    width: 14rem;
  }

  .booking-wrapper {
    flex-direction: column;
  }

  .calendar-section,
  .slots-section {
    width: 18rem;
    height: 20rem;
    padding: 10px;
  }

  .submit-button {
    font-size: 1rem;
  }
}

@media (max-width: 720px) {
  .slot-button {
    font-size: 0.7rem;
    padding: 5px 8px;
  }
}

.slots-container::-webkit-scrollbar {
  width: 8px;
}

.slots-container::-webkit-scrollbar-track {
  background: #ff9f17;
}

.slots-container::-webkit-scrollbar-thumb {
  background: #f03f3f;
  border-radius: 4px;
}

.slots-container::-webkit-scrollbar-thumb:hover {
  background: var(--accent-glow);
}
