.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fceee3;
  min-height: 88vh;
  width: 80vw;
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: bold;
  position: relative;
  border: solid black 3px;
  box-shadow: 16px 16px 0px black;
  margin: 5rem 0 3rem;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.btn.disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.upper-nav {
  width: 100%;
  height: 4rem;
  background-color: #00171f;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px 0 10px;
}

.tab {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.window-controls {
  display: flex;
  align-items: center;
}

.lower-nav {
  width: 100%;
  background-color: #f1991b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-controls {
  display: flex;
  gap: 10px;
  flex: 0 0 auto;
}

.nav-controls button object {
  width: 100%;
}

.address-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin: 0 10px;
  max-width: calc(100% - 250px);
  height: 3.6rem;
  background-color: #f2f2f2;
  border: solid black 5px;
  gap: 10px;
  padding: 0 10px;
  font-size: 1.5rem;
}

.address-bar img {
  flex-shrink: 0;
}

.address-bar h3.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  text-align: left;
  width: 100%;
}

.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* new shit */

.profile-container {
  position: relative;
}

.profile-popup {
  font-family: "Lato", sans-serif;
  position: absolute;
  top: 70px;
  right: 0;
  min-width: 260px;
  width: auto;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: hidden;
}

.profile-header {
  background-color: #f1991b;
  color: white;
  padding: 12px 16px;
  text-align: left;
  font-weight: 700;
}

.profile-header h3 {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.profile-content {
  font-family: monospace;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fceee3;
  color: #f25a1b;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: solid 2px black;
}

.profile-name {
  margin: 8px 0;
  font-size: 18px;
  font-weight: 800;
}

.profile-email {
  margin: 4px 0 16px;
  font-size: 14px;
  font-weight: 600;
}

.profile-icon {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
  display: block;
  transition: all 0.3s ease;
}

.profile-btn {
  position: relative;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background: transparent;
  border: none;
  background: none;
  outline: none;
}

.profile-btn.disabled {
  opacity: 1;
  cursor: default;
  pointer-events: none;
}

.profile-btn:not(.disabled):hover {
  box-shadow: 0 0 8px 2px #fd560fcc;
}

.profile-btn:not(.disabled):active,
.profile-btn.active:not(.disabled) {
  box-shadow: 0 0 8px 4px #ec591acc;
}

.profile-btn:not(.disabled):active .profile-icon,
.profile-btn.active:not(.disabled) .profile-icon {
  border-color: #fc1e1c;
}

@media (max-width: 720px) {
  .wrapper {
    box-shadow: 10px 10px 0px black;
  }

  .window-controls img {
    width: 1.4rem;
  }

  .upper-nav {
    height: 2.4rem;
  }

  .upper-nav img {
    height: 1.4rem;
  }

  .tab {
    margin-top: 4px;
  }

  .nav-controls {
    gap: 2px;
  }

  .nav-controls img {
    height: 100%;
    width: 1.6rem;
  }

  .lower-nav {
    height: 3.2rem;
  }

  .nav-ham {
    min-width: 20px;
  }

  .address-bar {
    height: 100%;
    font-size: 0.7rem;
    gap: 2px;
    padding: 0 5px;
    border-width: 3px;
    margin: 0 5px;
    max-width: calc(100% - 86px);
  }

  .address-bar img {
    width: 0.8rem;
  }

  .profile-popup {
    width: 220px;
    top: 30px;
  }

  .profile-icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  .profile-name {
    font-size: 16px;
  }

  .profile-email {
    font-size: 12px;
  }
}

.profile-btn.disabled {
  opacity: 1;
  cursor: default;
  pointer-events: none;
}
